<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Error - Group Photo Service</title>
    <link rel="stylesheet" type="text/css" href="/static/mystyles.css" media="screen" />
</head>
<body>
    <div id="container">
        <table align="center" width="100%">
            <tr><td align="center"><div id="title"><h2>Error</h2></div></td></tr>
            <tr><td<br/></td></tr>
            <tr><td<br/></td></tr>
            <tr><td><div id="content"><b><p>Error: {{ errorMsgString }}</p></b></div></td></tr>
            <tr><td<br/></td></tr>
            <tr><td><p>Back to <a href="/">main page</a>.</p></td></tr>
        </table>
    </div>
</body>
</html>
