<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Group Photo Service</title>
    {% block extras %}{% endblock %}
</head>
<body {% block bodyJS %}{% endblock %}>
    {% if session['username'] %}
        <h2>{% block subtitle %}{% endblock %}</h2>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            <br/><br/>Logged in as: {{ session['username'] }}
            <br><a href="/">Logout</a></form>
        </div>
    {% else %}
        Please login: <a href="/">here</a>.
    {% endif %}
</body>
</html>
